.map {
  width: 800px;
  height: 800px;
  overflow: scroll;
  margin-right: 20px;
  flex-shrink: 0;
}

.mapRow {
  display: flex;
  flex-direction: row;
  height: 48px;
}

.cell {
  flex-shrink: 0;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  width: 48px;
  background-color: #ddd;

  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  background-size: contain;
}

.cellExtra {
  width: 48px;
  height: 48px;
  border: 0;
  background-size: contain;
  z-index: 10;
}

.main {
  display: flex;
  flex-direction: row;
}

.pallette {
  flex-shrink: 1;
}

.pallette h2 {
  padding: 5px;
  margin: 0;
  background-color: rgb(209, 209, 209);
}

.toolbar {
  display: flex;
  flex-direction: row;
  background-color: #222;
  color: #eee;
  align-items: center;
}

.toolbar > .pure-button {
  margin: 6px;
}

.picker {
  width: 440px;
  display: flex;
  overflow-x: scroll;
  background-color: #222;
  margin-bottom: 20px;
}

.picker img {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  margin: 8px;
  border: 3px solid rgba(255, 0, 0, 0);
}

.selected {
  border: 3px solid red !important;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.2);
}

.loadingWrapper {
  text-align: center;
}

#loading {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 8px solid rgba(136, 174, 231, 0.3);
  border-radius: 50%;
  border-top-color: rgb(33, 84, 160);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
